<!DOCTYPE html>

<head>
    <%- include ("../include/header") -%>
    <link rel="stylesheet" href="/styles/speakers.css">
    <title>List Events</title>

</head>

<body>
    <%- include ("../include/speakerNav") -%>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">Event Date</th>
                <th scope="col">Main Speaker</th>
                <th scope="col">Other Speakers</th>
            </tr>
        </thead>
        <tbody>
            <% eventData.forEach(function(event){ %>
            <tr>
                <th scope="row"><%= event._id %></th>
                <td><%= event.title %></td>
                <td><%= event.eventdate.toDateString() %></td>
                <td>
                    <%if (event.mainSpeaker!=null) { %>
                        <%= event.mainSpeaker.fullname %>
                        <% } %>
                </td>
                <td>
                    <ul>
                        <% event.otherSpeakers.forEach(function(speaker){ %>
                        <li><%= speaker.fullname %></;i>
                            <% }); %>
                    </ul>
                </td>

            </tr>
            <% }); %>
        </tbody>
    </table>

</body>
<script src="/js/admin.js"></script>


</html>